@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Menambahkan Warna Kustom Tunas Qur'an */
  --color-brand-brown: #473829;
  --color-brand-light-green: #8BC53F;
  --color-brand-dark-green: #1B763B;

  /* Menambahkan Font Kustom */
  --font-berkshire: "Berkshire Swash", cursive;
}
